body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: ghostwhite;
}

#grid {
    height: 720px;
    width: 720px;
}

.row {
    display: flex;
}

.pixel {
    background-color: black;
    border-radius: 16px;
}

.controls {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}

button {
    padding: 8px 16px;
    border-radius: 6px;
    background-color: dimgray;
    color: ghostwhite;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    height: 38px;
}

button:hover {
    background-color: gray;
}

#label {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: ghostwhite;
    text-align: center;
    margin-bottom: 8px;
}

#colors button {
    width: 100px;
}

.active {
    background-color: darkgoldenrod;
}

.active:hover {
    background-color: darkgoldenrod;
}